body {
    background-color: #000;
    color: white;
}

#gameGrid {
    place-content: center;
    transform: translateY(3rem);
}

h1 {
    text-align: center;
}

.difficulties {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.square {
    transition: background-color ease-in-out .2s;
}

.square:hover {
    background-color: rgb(39, 39, 39);
}